* {
    margin: 0px;
    padding: 0px;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f9;
    color: white;
  }
  .login {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 200px;
    background-color: #d0cef2;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 10px 5px #818187;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
  }

  .register {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: #d0cef2;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 10px 5px #818187;
  }
  