* {
    margin: 0px;
    padding: 0px;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f9;
    color: white;
  }
  .login {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    background-color: #d0cef2;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 10px 5px #818187;
  }
  .image{
    width: 200px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .register {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: #d0cef2;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 10px 5px #818187;
  }
  .app {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 700px;
    background-color: #d0cef2;
    justify-content: center;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 6px 10px 5px #818187;
  }
  .navbar{
    height: 500px;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: #212c45;
    position:static;
    border-radius: 10px;
    
    /* box-shadow: 6px 10px 5px #818187; */
  }
  .content{
    /* margin-left: 150px; */
    /* border: solid; */
    height: 50px;
    width: 550px;
  }
  .content-data{
    /* border: solid; */
    margin-top: 20px;
    background-color:#8f8aec ;
    height: 450px;
    /* z-index: 10; */
  }
  .project{
    width: 200px;
    height: 200px;
    background-color: #a9a5ed;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .user{
    display: flex;
    background-color: #f6f6f9;
    color: black;
    width: 540px;
    margin-top: 10px;
    height: 22px;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;

  }
.project-assigned{
  color: black;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: #f0f0f5;
  gap: 20px;
  align-items: center;
  margin: auto;
  border-radius: 20px;

}
.time-div{
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.project-assigned button{
  width: 100px;
}
